<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    Delete User <%= user.firstName %> <%= user.lastName %>
    <form action="/api/delete-user/<%= user.id %>" method="POST">
      <button class="button is-danger is-outlined">
        Delete
      </button>
    </form>
    <a href="/admin">Cancel</a>
  </div>
</body>
</html>