<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Document</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  Home
  <% if (posts.length > 0) { %>
    <% posts.forEach(post => { %>
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <img src="<%= "postUploads/" + JSON.parse(post.img).filename %>">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <%= post.title %>
            <br>
          </div>
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">John Smith</p>
            </div>
            <time datetime=""><%= post.date %></time>
          </div>
      
        </div>
      </div>
    <%}) %>
  <% } %>
</body>
</html>