<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <section class="section is-medium">
    <% if (err_msg?.length) { %>
      <div class="columns is-centered" id="error-msg">
        <div class="column is-two-fifths notification is-danger is-light has-text-centered">
          <button class="delete"></button>
          <%= err_msg %>
        </div>
      </div>
    <% } %>
    <br>
    <div class="columns is-centered">
      <div class="column is-two-fifths box px-5 py-6">
        <form action="/api/login" method="POST" onChange="checkFields()">
          <h1 class="title is-1 has-text-centered">Login</h1>

          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input required class="input" type="email" name="email" id="email" placeholder="Email">
            </div>
          </div>
          
          <p id="emailErr" style="display: none; color: red;">Please enter a valid Email Address</p>
          
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input required class="input" type="password" name="password" id="password" placeholder="Password">
            </div>
          </div>

          <p id="passErr" style="display: none; color: red;">Please enter a valid Password</p>

          <div class="mb-4">
            <button type="submit" class="button is-link px-4" name="login" id="login">Login</button>
          </div>
          
          <a class="has-text-centered has-text-link is-underlined" href="/register">Don't have an account? Sign in.</a>
        
          <div>
            <div class="is-size-7 has-text-right">
              by
              <label class="has-text-dark">DEMADALE</label>
            </div>
        </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

<script>
  function isValid(err, pattern, currentValue, flag){
    var valid = pattern.test(currentValue);

      if (valid){
          err.style.display = 'none';
          flag[0] = 1;
      }

      else {
          err.style.display = 'block';
          flag[0] = 0;
      }
  }
  
  var emailFlag = {0:1}, passwordFlag = {0:1}
  var email = document.querySelector('#email');
  var emailErr = document.querySelector('#emailErr');
  var password = document.querySelector('#password');
  var passErr = document.querySelector('#passErr');
  var login = document.querySelector('#login');

  email.addEventListener('input', function(e){
      var pattern = /^(?!.*[._-]{2,})[a-z.A-Z_0-9-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$/;
      var currentValue = e.target.value;
      isValid(emailErr, pattern, currentValue, emailFlag);
  })

  password.addEventListener('input', function(e){
      var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])((?=.*\W)|(?=.*_))[a-zA-Z0-9_\W]{8,20}$/;
      var currentValue = e.target.value;
      isValid(passErr, pattern, currentValue, passwordFlag);
  })

  function checkFields(){
    console.log("checkFields");
    if (emailFlag[0] == 1 && passwordFlag[0] == 1){
        console.log("correct");
        console.log(emailFlag);
        console.log(passwordFlag);
        login.removeAttribute('disabled');
      }

      else {
        console.log("incorrect:");
        console.log(emailFlag);
        console.log(passwordFlag);
        login.setAttribute('disabled', 'disabled');
      }
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    const delErrMsg = () => {
      const errorMsg = document.querySelector("#error-msg").remove();

      if (errorMsg) {
        errorMsg.remove;
      }
    };

    const deleteButton = document.querySelector(".delete");

    if (deleteButton) {
      deleteButton.addEventListener("click", delErrMsg);
    }
  });
</script>