<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="container">
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <form method="POST" action="/api/create-user" class="box p-5">
          <h1 class="title is-1 has-text-centered">Sign Up</h1>
          
          <label class="is-block mb-4">
            <span class="is-block mb-2">First Name</span>
            <input
              type="text"
              class="input"
              name="firstName"
              id="firstName"
              placeholder="First Name"
              required
            />
          </label>

          <p id="firstNameErr" style="display: none; color: red;">Please enter a valid First Name</p>
          
          <label class="is-block mb-4">
            <span class="is-block mb-2">Last Name</span>
            <input
              type="text"
              class="input"
              name="lastName"
              id="lastName"
              placeholder="Last Name"
              required
            />
          </label>
          
          <p id="lastNameErr" style="display: none; color: red;">Please enter a valid Last Name</p>
          
          <label class="is-block mb-4">
            <span class="is-block mb-2">Email Address</span>
            <input
              type="email"
              class="input"
              name="email"
              id="email"
              placeholder="email@example.com"
              required
            />
          </label>
          
          <p id="emailErr" style="display: none; color: red;">Please enter a valid Email Address</p>

          <label class="is-block mb-4">
            <span class="is-block mb-2">Phone Number</span>
            <input
              type="text"
              class="input"
              name="phone"
              id="phone"
              maxlength="11"
              placeholder="09---------"
              required
            />
          </label>

          <p id="phoneErr" style="display: none; color: red;">Please enter a valid Phone Number</p>

          <label class="is-block mb-4">
            <span class="is-block mb-2">Password</span>
            <input
              type="password"
              class="input"
              name="password"
              id="password"
              minlength="8"
              placeholder="(must be 8+ chars)"
              required
            />
          </label>

          <p id="passErr" style="display: none; color: red;">Please enter a valid Password</p>
         
          <label class="is-block mb-4">
            <span class="is-block mb-2">Confirm Password</span>
            <input
              type="password"
              class="input"
              name="confirmPass"
              id="confirmPass"
              minlength="8"
              placeholder="(must be 8+ chars)"
              required
            />
          </label>

          <p id="confirmErr" style="display: none; color: red;">Password does not match BOBO!</p>

          <label class="is-block mb-4">
            <span class="is-block mb-2">Picture</span>
            <input
              type="file"
              class="input"
              name="picture"
              id="picture"
              required
            />
          </label>
  
          <p id="picErr" style="display: none; color: red;">File type must be .jpg or .png</p>

          <div class="mb-4">
            <button type="submit" class="button is-link px-4">Sign Up</button>
          </div>
          <a class="has-text-centered has-text-link is-underlined" href="/login">Already have an account? Sign in.</a>
  
          <div>
            <div class="is-size-7 has-text-right">
              by
              <label class="has-text-dark">DEMADALE</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</body>
</html>

<script>

  function isValid(err, pattern, currentValue){
    var valid = pattern.test(currentValue);

      if (valid){
          err.style.display = 'none'
      }

      else {
          err.style.display = 'block'
      }
  }

  var firstName = document.querySelector('#firstName');
  var firstNameErr = document.querySelector('#firstNameErr');
  var lastName = document.querySelector('#lastName');
  var lastNameErr = document.querySelector('#lastNameErr');
  var email = document.querySelector('#email');
  var emailErr = document.querySelector('#emailErr');
  var phone = document.querySelector('#phone');
  var phoneErr = document.querySelector('#phoneErr');
  var password = document.querySelector('#password');
  var passErr = document.querySelector('#passErr');
  var confirmPass = document.querySelector('#confirmPass');
  var confirmErr = document.querySelector('#confirmErr');
  var picture = document.querySelector('#picture');
  var picErr = document.querySelector('#picErr');

  firstName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z]{1,20}$/;
      var currentValue = e.target.value;
      isValid(firstNameErr, pattern, currentValue);
  })

  lastName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z]{1,20}$/;
      var currentValue = e.target.value;
      isValid(lastNameErr, pattern, currentValue);
  })

  email.addEventListener('input', function(e){
      var pattern = /^(?!.*[._-]{2,})[a-z.A-Z_0-9-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$/;
      var currentValue = e.target.value;
      isValid(emailErr, pattern, currentValue);
  })

  phone.addEventListener('input', function(e){
      var pattern = /^[0-9]{11}$/;
      var currentValue = e.target.value;
      isValid(phoneErr, pattern, currentValue);
  })

  password.addEventListener('input', function(e){
      var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])((?=.*\W)|(?=.*_))[a-zA-Z0-9_\W]{8,20}$/;
      var currentValue = e.target.value;
      isValid(passErr, pattern, currentValue);
  })

  confirmPass.addEventListener('input', function(e){
      var pattern = password.value;
      var currentValue = e.target.value;

      if (pattern == currentValue){
          confirmErr.style.display = 'none'
      }

      else {
          confirmErr.style.display = 'block'
      }
  })

  picture.addEventListener('input', function(e){
      console.log("hello");
      var currentValue = e.target.value.split('.');
      console.log(currentValue);
      var ext = currentValue[currentValue.length-1];  
      console.log(ext);

      if(ext == "jpg" || ext == "png") {
          picErr.style.display = 'none'
      }

      else {
          picErr.style.display = 'block'
      }
  })
</script>