<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="section is-centered">
    <% if (err_msg?.length) { %>
      <div class="columns is-centered" id="error-msg">
        <div class="column is-two-fifths notification is-danger is-light has-text-centered">
          <button class="delete"></button>
          <%= err_msg %>
        </div>
      </div>
    <% } %>
    <br>
    <div class="columns is-justify-content-center">
      <div class="column is-6-tablet is-5-desktop is-4-widescreen is-3-fullh">
        <form method="POST" action="/api/create-user" class="box p-5" id="register" onchange="checkFields()" enctype="multipart/form-data">
          <h1 class="title is-1 has-text-centered">Sign Up</h1>
          
          <label class="is-block mb-4">
            <span class="label">First Name</span>
            <input
              type="text"
              class="input"
              name="firstName"
              id="firstName"
              maxlength="20"
              placeholder="First Name"
              required
            />
          </label>

          <p id="firstNameErr" style="display: none; color: red;">Please enter a valid First Name</p>
          
          <label class="is-block mb-4">
            <span class="label">Last Name</span>
            <input
              type="text"
              class="input"
              name="lastName"
              id="lastName"
              maxlength="20"
              placeholder="Last Name"
              required
            />
          </label>
          
          <p id="lastNameErr" style="display: none; color: red;">Please enter a valid Last Name</p>
          
          <label class="is-block mb-4">
            <span class="label">Email Address</span>
            <input
              type="email"
              class="input"
              name="email"
              id="email"
              maxlength="50"
              placeholder="prefix@domain.com"
              required
            />
          </label>
          
          <p id="emailErr" style="display: none; color: red;">Please enter a valid Email Address</p>

          <label class="is-block mb-4">
            <span class="label">Phone Number</span>
            <input
              type="text"
              class="input"
              name="phone"
              id="phone"
              maxlength="11"
              placeholder="09---------"
              required
            />
          </label>

          <p id="phoneErr" style="display: none; color: red;">Please enter a valid Phone Number</p>

          <label class="is-block mb-4">
            <span class="label">Password</span>
            <input
              type="password"
              class="input"
              name="password"
              id="password"
              minlength="8"
              maxlength="80"
              placeholder="(must be 8+ chars)"
              required
            />
          </label>

          <p id="passErr" style="display: none; color: red;">Please enter a valid Password</p>
         
          <label class="is-block mb-4">
            <span class="label">Confirm Password</span>
            <input
              type="password"
              class="input"
              name="confirmPass"
              id="confirmPass"
              minlength="8"
              maxlength="80"
              placeholder="(must be 8+ chars)"
              required
            />
          </label>

          <p id="confirmErr" style="display: none; color: red;">Password does not match</p>

          <label class="is-block mb-4">
            <span class="label">Picture</span>
            <input
              type="file"
              class="input"
              name="picture"
              id="picture"
              accept="image/png, image/jpeg"
              required
            />
          </label>
  
          <p id="picErr" style="display: none; color: red;">File type must be .jpg or .png</p>

          <div class="mb-4">
            <button type="submit" id="submit" class="button is-link px-4">Sign Up</button>
          </div>
          <a class="has-text-centered has-text-link is-underlined" href="/login">Already have an account? Sign in.</a>
  
          <div>
            <div class="is-size-7 has-text-right">
              by
              <label class="has-text-dark">DEMADALE</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</body>
</html>

<script>

  function isValid(err, pattern, currentValue, flag){
    var valid = pattern.test(currentValue);

      if (valid){
          err.style.display = 'none';
          flag[0] = 1;
      }

      else {
          err.style.display = 'block';
          flag[0] = 0;
      }
  }

  var firstFlag = {0:1}, lastFlag = {0:1}, emailFlag = {0:1}, phoneFlag = {0:1}, passwordFlag = {0:1}, confirmFlag = {0:1}, pictureFlag = {0:1};
  var firstName = document.querySelector('#firstName');
  var firstNameErr = document.querySelector('#firstNameErr');
  var lastName = document.querySelector('#lastName');
  var lastNameErr = document.querySelector('#lastNameErr');
  var email = document.querySelector('#email');
  var emailErr = document.querySelector('#emailErr');
  var phone = document.querySelector('#phone');
  var phoneErr = document.querySelector('#phoneErr');
  var password = document.querySelector('#password');
  var passErr = document.querySelector('#passErr');
  var confirmPass = document.querySelector('#confirmPass');
  var confirmErr = document.querySelector('#confirmErr');
  var picture = document.querySelector('#picture');
  var picErr = document.querySelector('#picErr');
  var register = document.querySelector('#register');
  var submit = document.querySelector('#submit');

  firstName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z][a-zA-Z\s-]{0,18}[a-zA-Z]$/;
      var currentValue = e.target.value;
      isValid(firstNameErr, pattern, currentValue, firstFlag);
  })

  lastName.addEventListener('input', function(e){
      var pattern = /^[a-zA-Z][a-zA-Z\s-]{0,18}[a-zA-Z]$/;
      var currentValue = e.target.value;
      isValid(lastNameErr, pattern, currentValue, lastFlag);
  })

  email.addEventListener('input', function(e){
      var pattern = /^(?!.*[._-]{2,})[a-z.A-Z_0-9-]+@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}$/;
      var currentValue = e.target.value;
      isValid(emailErr, pattern, currentValue, emailFlag);
  })

  phone.addEventListener('input', function(e){
      var pattern = /^[0-9]{11}$/;
      var currentValue = e.target.value;
      isValid(phoneErr, pattern, currentValue, phoneFlag);
  })

  password.addEventListener('input', function(e){
      var pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])((?=.*\W)|(?=.*_))[a-zA-Z0-9_\W]{8,20}$/;
      var currentValue = e.target.value;
      isValid(passErr, pattern, currentValue, passwordFlag);
  })

  confirmPass.addEventListener('input', function(e){
      var pattern = password.value;
      var currentValue = e.target.value;

      if (pattern == currentValue){
          confirmErr.style.display = 'none';
          confirmFlag[0] = 1;
      }

      else {
          confirmErr.style.display = 'block';
          confirmFlag[0] = 0;
      }
  })

  picture.addEventListener('input', function(e){
      var currentValue = e.target.value.split('.');
      var ext = currentValue[currentValue.length-1];  

      if(ext == "jpg" || ext == "png") {
          picErr.style.display = 'none';
          pictureFlag[0] = 1;
      }

      else {
          picErr.style.display = 'block';
          pictureFlag[0] = 0;
      }
  })
  
  function checkFields(){
    console.log("checkFields");
    if (firstFlag[0] == 1 && lastFlag[0] == 1 && emailFlag[0] == 1 && phoneFlag[0] == 1 && passwordFlag[0] == 1 && confirmFlag[0] == 1 && pictureFlag[0] == 1){
        console.log("correct");
        console.log(firstFlag);
        console.log(lastFlag);
        console.log(emailFlag);
        console.log(phoneFlag);
        console.log(passwordFlag);
        console.log(confirmFlag);
        console.log(pictureFlag);
        submit.removeAttribute('disabled');
      }

      else {
        console.log("incorrect:");
        console.log(firstFlag);
        console.log(lastFlag);
        console.log(emailFlag);
        console.log(phoneFlag);
        console.log(passwordFlag);
        console.log(confirmFlag);
        console.log(pictureFlag);
        submit.setAttribute('disabled', 'disabled');
      }
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    const delErrMsg = () => {
      const errorMsg = document.querySelector("#error-msg").remove();

      if (errorMsg) {
        errorMsg.remove;
      }
    };

    const deleteButton = document.querySelector(".delete");

    if (deleteButton) {
      deleteButton.addEventListener("click", delErrMsg);
    }
  });
</script>
